@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;1,100;1,200&display=swap');

:root{
    --bg-color:#EFF1FA;
    --dark-blue:#052051;
    --ligth-blue:#0A3871;
}

body{
    background:var(--bg-color);
    font-family: 'Poppins', sans-serif;
}

header a img{
    width:44px;
    height:48px;
    padding: 10px;
}
.container{
    display:block;
    width: 100%;

}
.buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.group-button{
    display: flex;
    justify-content: center;
}
.btn{
    padding: 10px;
    margin: 5px;
    border-radius: 15px;
    width:200px;
    text-decoration: none;
    text-align: center;
    font-size: 0.8rem;
}
.btn-blue{
    background: var(--dark-blue);
    color: white;
}
.border-blue{
    border: 1px solid var(--dark-blue) ;
}

.border-white{
    background: white;
    color: var(--dark-blue);
}
footer{
    padding:10px;
    text-align:center;
}

.message{
    text-align: center;
    display: block;
    font-size: 0.8em;
    color:rgb(141, 140, 140);
    padding:10px;
}
.text{
    font-weight: 500;
}
.text-blue{
    color: var(--dark-blue);
}
.section{
    height:calc(30%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 100%;
}

.word{
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 32px;
    /* text-decoration-line: underline; */
    letter-spacing: 10px;
}

.letters{
    text-align: center;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 10px;
}

.form-control{
    padding: 10px;
    width: 100%;
    display: block;
    border:none;
    border-radius: 20px;
    text-align: center;
}

.section-add{
    width: 70%;
}


@media (max-width: 700px){
    .group-button{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .btn{
        width: 90%;
    }
}

.alert{
    padding:5px;
    margin: 10px;
    width: 100%;
    text-align: center;
    font-size: 0.8rem;
    border-radius: 10px;
}

.alert-danger{
    background: #faaeae;
    border: 2px solid red;
    color: red;
}

.alert-success{
    background: #8bf78b;
    border: 2px solid green;
    color: green;
}

.status{
    display:block;
    text-align: center;
    padding:5px;
    width: 100%;
}

.green{
    font-size: 1.7rem;
    color:green;
    font-weight: 500;
}

.red{
    font-size: 1.7rem;
    color:red;
    font-weight: 500;
}

